[user]
	name = Your Name
	email = christopher@corella.com
[credential]
	helper = \\!gh auth git-credential
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
